- @posts.each do |post|
  .post.entry.clearfix
    %h2.title
      = link_to post, post_path(post)
    %p.meta-info
      = post.created_at
      в
      = link_to 'Блог', posts_path
    .post-thumbnail
      = link_to post_path(post) do
        %img{alt: post.title, height: "184", src: post.preview_url, width: "184"}/
        %span.overlay

    %p= post.introtext
    %a.read-more{href: post_path(post) }
      %span Читать далее

