#left-area
  %p= @category.content.html_safe

  - if @category.images.any?
    #multi-media-bar
      #et-multi-media.clearfix
        %a#left-multi-media{href: "#"} Prev
        %a#right-multi-media{href: "#", next: ""}
        #media-slides
          .media-slide
            - @category.images.each do |img|
              .thumb
                %a.fancybox{href: img.file_url, rel: "media", title: img.title }
                  %img.multi-media-image{alt: img.title, height: "48", src: img.file.thumb.url, width: "48"}/
                  %span.more
                .media-description
                  %p= img.title
                  %span.media-arrow


  .entry.post.clearfix{ style: "margin-top: 45px;"}
    #et_pt_blog
      - @category.travel_ideas.each do |idea|
        .post.entry.clearfix
          %h2.title
            = link_to idea, travel_idea_path(idea)
          %p.meta-info
            = idea.created_at
          .post-thumbnail
            = link_to travel_idea_path(idea) do
              %img{alt: idea.title, height: "184", src: idea.preview_img.try(:url), width: "184"}/
              %span.overlay

          %p= idea.introtext
          %a.read-more{href: travel_idea_path(idea) }
            %span Читать далее
